<body>
    
    <h1>THE BAKER'S HUT</h1>


<!-- LEFT COLUMN -->
<div>
<div class="col">
    <h2>Pastries to eat!</h2>
    <ul>
        {{#each pastry}}
        {{#unless devoured}}
        <li class="pastryItem">{{pastry_name}}</li>
        <button class="button" id="buttonUpdate" data-id="{{id}}" data-state="{{devoured}}" >DEVOUR IT !</button>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col">
    <img src="/assets/img/food.tif" heigth="100px" alt="">

</div>

<!-- RIGHT COLUMN -->
<div class="col">
    <h2>Pastries devoured!</h2>
    <ul>
        {{#each pastry}}
        {{#if devoured}}
        <li class="pastryItem">{{pastry_name}}</li>
        <button  class="button" id="buttonDelete" data-id="{{id}}" >DELETE!</button>
        <br>
        {{/if}}
        {{/each}}
    </ul>
</div>


<!-- BOTTOM COLUMN -->
<div class="add">
    <h2>Add a Pastry</h2>
    <form class="pastryNew">
        <div class="form-group">
            <label for="pastry_add">Pastry Name:</label>
            <input type="text" id="pastryInputId" autocomplete="off">
        </div>
        <br>
        <button class="button"  id="buttonAdd" type="submit">ADD PASTRY</button>
    </form>
</div>
</div>

